/* Umumiy uslublar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url('images/osh.jpg'); /* Orqa fon rasmi */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Header orqa fon */
  color: #ffffff; /* Header matn rangi */
  font-size: 32px;
  font-weight: bold;
  border-bottom: 2px solid #00ff99;
}

/* Main */
main {
  flex-grow: 1; /* Asosiy kontent ekranga moslashadi */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Tugmalar orasidagi masofa */
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Tugmalar orasidagi masofa */
  padding: 20px;
}

.menu button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ff99;
  border-radius: 30px;
  padding: 10px 80px; /* Tugmalar ichki masofasini kattalashtirish */
  font-size: 18px; /* Tugma matni hajmi kattalashdi */
  transition: 0.3s;
  width: 200px; /* Tugmalar kengligi */
}

.menu button a {
  color: #fff;
  font-weight: bold;
}

.menu button:hover {
  background-color: #00ff99;
  border-color: white;
}

.menu button a:hover {
  color: #000;
}

/* Footer */
footer {
  background-color: #000000; /* Footer orqa fon rangini qora qilib qo'ying */
  color: #ffffff; /* Matnni ko'rinarli oq rangda qiling */
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Footer elementlari orasidagi masofa */
  max-width: 400px;
  margin: 0 auto;
}

.footer-content a {
  color: #FFD700;
  font-weight: bold;
}

.footer-content a:hover {
  color: #FF4500;
}

/* Mobil uchun moslashuv */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu button {
    width: 90%; /* Mobilda kenglikni moslashtirish */
  }

  footer {
    font-size: 14px;
  }
}
