
*{
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header{
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center; /* Tugmalarni markazga joylash */
  flex-wrap: wrap; /* Agar ekran kichik bo‘lsa, tugmalar pastga tushadi */
}
button {
  background-color: #000; /* Tugmalar fon rangi */
  border: 2px solid #00ff99; /* Tugmalar chegarasi */
  border-radius: 50px; /* Burchaklarni yumshatish */
  padding: 10px 20px; /* Ichki bo'shliq */
  margin: 5px; /* Tugmalar orasidagi bo'shliq */
  cursor: pointer;
  transition: 0.3s;
}

button a {
  text-decoration: none; /* Havolani tagiga chizilmasin */
  color: #fff; /* Matn rangi */
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #00ff99; /* Hover effekti */
  border-color: #fff;
}

button a:hover {
  color: #000;
}
body{
  background-image: url('images/osh.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
