* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url('images/osh.jpg'); /* Orqa fon rasmi */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ff99;
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 16px;
  transition: 0.3s;
  width: 180px;
}

button a {
  color: #fff;
  font-weight: bold;
}

button:hover {
  background-color: #00ff99;
  border-color: white;
}

button a:hover {
  color: #000;
}

main {
  flex-grow: 1; /* Asosiy kontent ekranga moslashadi */
}

/* Footer */
footer {
  background-color: rgba(34, 34, 34, 0.95);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 400px;
  margin: 0 auto;
}

.footer-content a {
  color: #FFD700;
  font-weight: bold;
}

.footer-content a:hover {
  color: #FF4500;
}

/* Mobil uchun moslashuv */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 90%;
  }

  footer {
    font-size: 14px;
  }
}
